body {
  padding: 20px;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #eee;
  overflow-x: hidden;
}

h1 {
  font-size: 50px;
}

h2 {
  margin-top: 15px;
  color: #2364cc;
}

h3 {
  margin-top: 15px;
}

h4 {
  margin-top: 15px;
}

h5 {
  font-weight: 400;
}

.app-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
  display: flexbox;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-input {
  border: none;
  max-width: auto;
  width: 100%;
}

.btn-back {
  padding: 5px 10px;
  margin-top: 30px;
  background: #7281a5;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.btn-back:hover {
  transform: scale(1.05);
}

/* =========== INDEX =========== */

.home {
  background: linear-gradient(90deg, #2364cc, #45e4fc);
  color: #fff;
}

@media (max-width: 576px) {
  .bg-home {
    justify-content: center !important;
  }
}

body.home .app-container {
  min-height: auto !important;
  display: block !important;
}

.btn-index {
  padding: 8px;
  padding-inline: 20px;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 999px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.home .btn-index:hover {
  transform: scale(1.1);
}

/* =========== LOGIN =========== */

.login {
  background: linear-gradient(90deg, #2364cc, #45e4fc);
  margin: 0;
  display: flexbox;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container-login {
  width: 100%;
  max-width: 420px;
  padding: 24px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
}

.form-item {
  padding: 5px;
}

.btn-form {
  margin-top: 30px;
  background-color: #2364cc;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  transition: transform 0.3s ease;
}

.btn-form:hover {
  transform: scale(1.05);
}

.btn-success {
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.3s ease;
}

.btn-success:hover {
  transform: scale(1.05);
}

/* =========== MENU =========== */

.container-menu {
  padding: 10px 30px;
  max-width: 400px;
  gap: 10px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.container-amount {
  padding: 10px;
  margin: 10px;
  max-width: 400px;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 6px solid #2364cc;
}

.btn-menu {
  background: transparent;
  border: none;
  transition: 0.3s ease;
}

.btn-menu:hover {
  color: #2364cc;
  background: #dde8fd;
  border-radius: 10px;
}

/* =========== DEPOSIT =========== */
.deposit-form {
  width: 100%;
  max-width: 420px;
  padding: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* =========== SENDMONEY =========== */
.container-search {
  padding: 10px;
  margin: 10px;
  max-width: 400px;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sendmoney-form {
  padding: 5px;
  margin-top: 20px;
  max-width: 100%;
  width: 400px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-contact {
  padding: 5px;
  margin-top: 10px;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-group {
  max-width: 400px;
  width: 100%;
}
